<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>14A388a</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Yosemite Dark Interface</string>
	<key>CFBundleExecutable</key>
	<string>YosemiteDark</string>
	<key>CFBundleIdentifier</key>
	<string>com.brnbw.YosemiteDark</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Yosemite Dark Interface</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.2</string>
	<key>CFBundleVersion</key>
	<string>4</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>6A1052d</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>14A382</string>
	<key>DTSDKName</key>
	<string>macosx10.10</string>
	<key>DTXcode</key>
	<string>0610</string>
	<key>DTXcodeBuild</key>
	<string>6A1052d</string>
	<key>QSPlugIn</key>
	<dict>
		<key>author</key>
		<string>BRNBW / Mikkel Malmberg</string>
		<key>categories</key>
		<array>
			<string>Interfaces</string>
		</array>
		<key>description</key>
		<string>A theme matching Yosemite's Spotlight</string>
	</dict>
	<key>QSRegistration</key>
	<dict>
		<key>QSCommandInterfaceControllers</key>
		<dict>
			<key>YosemiteDark</key>
			<string>BBYosemiteDarkInterface</string>
		</dict>
	</dict>
</dict>
</plist>
